.badges {
	display: inline-flex;
	gap: 5px;
	flex-wrap: nowrap;
	font-weight: 800;
	font-family: 'inter', sans-serif;
	font-size: 11px;
	line-height: 1.45em;
	color: $gradation100;
	background-color: $input-color-active;
	border-radius: 30px;
	padding: 6px 12px;
	appearance: none;
	user-select: none;
	cursor: pointer;
}