.title {
	color: $title-color;
	font-family: 'inter', sans-serif;
	line-height: 1.2em;
	font-weight: 700;
}

h1.title {
	font-size: 54px;
	font-weight: 900;
}

h2.title {
	font-size: 44px;
	font-weight: 900;
}

h3.title {
	font-size: 26px;
}

h4.title {
	font-size: 22px;
}

h5.title {
	font-size: 17px;
}