$gradation100: #fff;
$gradation200: #F7F7F8;
$gradation300: #F3F4F7;
$gradation400: #E7EAEF;
$gradation500: #CED2DA;
$gradation600: #959AAE;
$gradation700: #576077;
$gradation800:#2B3350;
$gradation900: #191E32;
$primary400: #37A5FF;
$primary500: #0074D4;
$primary600: #004075;
$secondary100: #ABF7A1;
$secondary200: #7BEC6D;

$load-btn-hover:#E5E9F0;
$load-btn-color: #282A2B;

$tab-color-hover: #282A2B;
$tab-height: 60px;
$tab-padding: 0px 34px;

$icon-size: 24px;
$icon-size-2: 16px;

$error-color: #EB5757;
$success-color: #6FBA6D;

$btn-color: #0074D4;
$btn-circle-border: #D2EBFF;
$btn-circle-border-hover: #A5D3F9;

$title-color: #2B3350;

$big-btn-height: 79px;
$normal-btn-height: 63px;
$small-btn-height: 45px;

$big-btn-padding: 0px 40px;
$normal-btn-padding: 0px 38px;
$small-btn-padding: 0px 22px;

$normal-dropout-height: 65px;

$normal-input-height: 65px;
$normal-input-padding: 0px 30px 0px 30px;
$normal-input-padding-icon: 0px 30px 0px 55px;
$input-color: #8B98B1;
$input-color-hover: #CAD0DE;
$input-color-active: #2F80ED;

$radius: 8px;

@mixin standart-transition {
	transition: color, background-color, font-size, border, border-radius 0.2s ease;
}

@mixin transition-all {
	transition: 0.2s ease;
}

@mixin blue-shadow {
	box-shadow: 0px 12px 20px -8px rgba(0, 116, 212, 0.55);
}

@keyframes opacity0 {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes opacity1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}