.box {
	position: relative;
	width: 100%;

	.icon {
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);
	}

	&_select {
		.icon {
			&.right {
				right: 0;
			}

			&.left {
				left: 0;
			}

			&.icon-dropout {
				right: 22px;
			}
		}

		.dropout {
			padding-right: 40px;
		}

		.dropout.dropout_without-bg {
			padding-right: 20px;
		}
	}
}