.column {
	flex: 1 1 auto;
}

.flex {
	display: flex;
	&_between {
		justify-content: space-between;
	}

	&_center {
		justify-content: center;
		align-items: center;
	}

	&_acenter {
		align-items: center;
	}

	&_jcenter {
		justify-content: center;
	}

	&_jend {
		justify-content: end;
	}

	&_inline {
		display: inline-flex;
	}

	&_vertical {
		flex-direction: column;
	}

	&_grow {
		flex: 1 1 auto;
	}
}

.self-start {
	align-self: start;
	justify-self: start;
}

.self-end {
	align-self: flex-end;
	justify-self: flex-end;
}

.wrap {
	flex-wrap: wrap;
}