.tabs {
	background-color: #F5F6FA;
	border-radius: $radius;
	padding: 2px;
	display: inline-flex;
	flex-wrap: nowrap;
	gap: 2px;
}

.tab {
	@include transition-all;
	border-radius: $radius;
	background-color: transparent;
	font-family: 'inter', sans-serif;
	font-size: 17px;
	line-height: 1.17em;
	font-weight: 600;
	color: #737880;

	padding: $tab-padding;
	height: $tab-height;

	display: flex;
	align-items: center;

	&_active {
		background-color: $gradation100;
		color: #000;
	}

	&:hover {
		color: $tab-color-hover;
	}
}