.catalog {
	&__title {
		margin-bottom: 35px;
	}

	padding-bottom: 108px;
}

.properties {
	gap: 16px;
	margin-bottom: 21px;

	&__dropout {
		display: inline-block;
		max-width: 281px;
		width: 100%;

		.dropout_icon {
			padding-left: 67px;
		}

		.icon.decor {
			width: 29px;
			height: 29px;
			left: 29px;
		}
	}
}

.catalog-items {
	column-gap: 16px;
	row-gap: 63px;
	margin-bottom: 59px;
}

.catalog-item {
	background-color: $gradation100;
	gap: 51px;
	flex: 0 0 281px;
	text-align: center;
	border-radius: 16px;
	@include standart-transition;
	z-index: 3;
	border: 1px solid $gradation100;
	padding-top: 35px;

	&__name {
		line-height: 1.3em;
		font-size: 20px;
		color: $gradation800;
	}

	&__img {
		max-width: 278px;
		width: 100%;
	}

	&__info {
		gap: 4px;
	}

	&__btn {
		margin-top: -27px;
		font-size: 16px;
		@include blue-shadow;
		display: none;
		animation: opacity1 0.2s;
	}

	&:hover {
		position: relative;
		border-color: $gradation300;
		z-index: 5;
		padding-bottom: 47px;
		box-shadow: 0px 20px 52px -8px rgba(0, 0, 0, 0.15);
		transform: scale(1.25);
		transform-origin: top center;
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: -100px;

		.catalog-item {
			&__btn {
				display: flex;
			}
		}
	}
}