.feedback {
	padding-bottom: 37px;

	&__title {
		margin-bottom: 30px;
	}
}

.feedback-slider {
	position: relative;
	max-width: 1222px;

	&__button-next,
	&__button-prev {
		position: absolute;
		top: 50%;
		z-index: 11115;
	}

	&__button {
		&-next {
			right: 0;
			transform: translateY(-50%) translateX(50%);
		}

		&-prev {
			transform: translateY(-50%) translateX(-50%);
			left: 0;
		}
	}

}

.feedback-slider-slides {
	display: flex;
	gap: 30px;
}
.feedback-slider-slide {
	background-color: $gradation100;
	box-shadow: 0px 20px 52px -8px rgba(0, 0, 0, 0.15);
	border-radius: 16px;
	border: 1px solid #F3F4F7;
	padding: 43px 41px;

	max-width: 570px;
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;

	&__info {
		gap: 12px;
		margin-bottom: 9px;
	}

	&__stars {
		margin-top: 2px;
		gap: 3px;
	}

	&__text {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;

	}

	&__link {
		display: inline-block;
		margin-top: 14px;
	}
}